pandas>=1.5.0
numpy>=1.21.0
scikit-learn
jupyter
matplotlib>=3.5.0
seaborn>=0.12.0
plotly
ipykernel
python-dotenv
google-cloud-bigquery
pandas-gbq
sqlalchemy
pyarrow
sqlite3
black
flake8
db-dtypes
requests>=2.31.0
beautifulsoup4>=4.12.2
pyyaml>=6.0.1
pytest>=7.0.0